<!-- If the query includes 'print-pdf', include the PDF print sheet -->
<script>
    if( window.location.search.match( /print-pdf/gi ) ) {
        var link = document.createElement( 'link' );
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = 'pdf.css';
        document.getElementsByTagName( 'head' )[0].appendChild( link );
    }
</script>

<style type="text/css">
    .reveal h1 { font-size: 1.6em; }
    .reveal h2 { font-size: 1.3em; }
    .reveal h3 { font-size: 1.2em; }
    .reveal h4 { font-size: 1.0em; }

    .reveal p { text-align: left; }
    
    .reveal pre.sourceCode {
        line-height: 1.2em;
        padding: 6px;
        /*font-size: .7em;*/
        /*width: 97%;*/
    }
    .reveal code {
        line-height: 1.7em;
        /*font-size: .7em;*/
        padding: 6px;
    }
    .reveal pre.sourceCode code {
        /*font-size: 1em;
        background: none;*/
        padding: 6px;
    }
</style>
